{% extends "base.html" %}
{% block content %}
<input id="is_table" type="checkbox" name="table"
hx-get="/inflation-viz"
hx-target="#inflation-viz"
hx-swap="outerHTML"
>
<label for="is_table">Display as Table</label>
<div class="col-4 offset-4 my-3">
    <input type="text" name="q" class="form-control form-input"
    hx-get="/inflation-viz"
    hx-trigger="keyup change delay:500ms"
    hx-target="#inflation-viz"
    placeholder="Search..."
    >
</div>
<div id="inflation-viz" hx-get="/inflation-viz" hx-trigger="load"></div>
{% endblock %}