{% extends "base.html" %}
{% block content %}
<div class="container">


    <div class="col-md-6">

        <div class="form">
            <i class="fa fa-search"></i>
            <input class="form-control form-input" type="search"
            name="query" placeholder="Begin Typing To Search Products..." 
            hx-get="/search-pretty-results" 
            hx-trigger="keyup changed delay:200ms, search" 
            hx-target="#search-results"
            hx-indicator="#search-results">
            <span class="left-pan"><i class="fa fa-microphone"></i></span>
        </div>
        
    </div>
        

    </div>

<div id="search-results"></div>
{% endblock %}